:root {
    /* THEME VARS */
    --color-border : black;
    --color-primary: #2d471e;
    --fg-color : black;
    --bg-color : white;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    --brand-color :#2d471e;
    --accent-color : var(--brand-color);

}

html {
    font-size : 120%;
}

[data-bs-theme="dark"] {
    --color-border : #777777;
    --border-color : #dee2e6;
    --fg-color : white;
    --bg-color : #212529;
    --bg-color : #212529;
    --accent-color : #83e64a;
}


body {
    background-color : var(--bg-color);
    color : var(--fg-color);

    --border-std : 1px solid var(--color-border);
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    /* font-family: system-ui, sans-serif; */
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: var(--border-std);
    margin : 0 .25rem;
    color : var(--fg-color);
    background-color : var(--bg-color);
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}
