:root {
    --border-color : black;
    --fg-color : black;
    --bg-color : white;
    --brand-color :#2d471e;
    --accent-color : var(--brand-color);

}

html {
    font-size : 120%;
}

[data-bs-theme="dark"] {
    --border-color : #dee2e6;
    --fg-color : white;
    --bg-color : #212529;
    --accent-color : #83e64a;
}


body {
    background-color : var(--bg-color);
    color : var(--fg-color);
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    /* font-family: system-ui, sans-serif; */
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    margin : 0 .25rem;
    accent-color: var(--accent-color);
    background-color: var(--bg-color);
    color: var(--fg-color);
}
