:root {
    --color-border : black;
    --color-primary: #2d471e;
    --fg-color : black;
    --bg-color : white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

[data-bs-theme="dark"] {
    --color-border : #777777;
    --fg-color : white;
    --bg-color : #212529;
}


body {
    background-color : var(--bg-color);
    color : var(--fg-color);
}

input, select, button, optgroup, textarea {
    height : 2rem;
    border-radius: .5rem;
    border: 1px solid var(--color-border);
    margin : 0 .25rem;
    color : var(--fg-color);
    background-color : var(--bg-color);
}
